.video-wrap {
  position: relative;
}

.vid-complete-poster {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333;
}
.vid-complete-left {
  width: 50%;
  height: 100%;
  float: left;
}
.vid-complete-right {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
}
.vid-complete-right h2 {
  margin: 10px;
}
.vid-complete-reload{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -80px;
  cursor: pointer;
}
.vid-complete-reload-txt {
  margin-top: 10px;
  width: 100%;
  left: 0;
  text-align: center;
  margin-left: 0;
  display: block;
  top: 50%;
  position: relative;
}
.vid-complete-source-wrap {
  opacity: 0;
  transform: translate3d(1900px, 0px, 0px);
  transition: all 0.5s ease-in-out;
  position: absolute;
  width: 100%;
}
.vid-complete-source-wrap.show {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
.vid-complete-source-wrap.hide {
  transform: translate3d(-1900px, 0px, 0px);
  opacity: 0;
}

.vid-complete-source {
  /*margin: 5%;*/
  cursor: pointer;
}
.vid-complete-source:hover {
  color: #1F90E6;
}
.vid-complete-source img {
  vertical-align: middle;
  margin-right: 10px;
  max-width: 110px;
  max-height: 60px;
  min-width: 78px;
  min-height: 52px;
}
.vid-complete-source-txt {
  font-size: 20px;
  display: inline-block;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 70px;
  vertical-align: middle;
}
.vjs-fullscreen .vid-complete-source img {
  width: 20%;
  margin-top: 20px;
}
<<<<<<< HEAD
.vjs-fullscreen .vid-complete-right h2 {
  font-size: 20px;
  margin-top: 25px;
}
.vjs-fullscreen .vid-complete-source img {
  width: 20%;
}
.vjs-fullscreen .vid-complete-source img {
  vertical-align: middle;
  margin-right: 10px;
  max-width: 140px;
  max-height: 80px;
}
.vjs-fullscreen .vid-complete-right h2 {
  font-size: 20px;
  margin-top: 60px;
}
@media screen and (min-width: 1700px) {
  .vjs-fullscreen .vid-complete-source img {
    width: 25%;
  }
  .vjs-fullscreen .vid-complete-source img {
    max-width: 200px;
    max-height: 120px;
  }
=======
@media screen and (min-width: 1600px) {
  .vjs-fullscreen .vid-complete-source img {
    width: 25%;
  }
>>>>>>> 9374b7a8228a726c1bfc40fbeb26d86ad8b1820b
}

.video-control-author {
  position: absolute;
  left: 200px;
  bottom: 20px;
  color: #666;
  font-size: 18px;
}

.video-control-views {
  position: absolute;
  right: 280px;
  bottom: 0;
  color: #666;
  line-height: 60px;
}
.video-control-views:before {
  content: "\e632";
  display: inline-block;
  font-family: "cvfont";
  color: #666;
  font-size: 14px;
  margin-right: 9px;
}

.video-control-likes {
  position: absolute;
  line-height: 60px;
  font-size: 14px;
  color: #666;
  right: 170px;
  bottom: 0;
}
.video-control-likes .video-likes-btn:before {
  content: "\e647";
  display: inline-block;
  font-family: "cvfont";
  color: #666;
  font-size: 18px;
  margin-right: 9px;
  cursor: pointer;
}
.video-control-likes .video-likes-btn.liked:before {
  color: #1F90E6;
}
.vid-header-wrap {
  position: absolute;
  width: 100%;
  height: 60px;
  background: #fff;
  background: rgba(255,255,255,0.9);
<<<<<<< HEAD
  opacity: 0;
=======
  z-index: 1;
>>>>>>> 9374b7a8228a726c1bfc40fbeb26d86ad8b1820b
}
.vid-header-txt {
  line-height: 60px;
  font-size: 18px;
  color: #666;
  margin-left: 20px;
}
.vid-header-close:before{
  content: "\e63c";
  font-family: "cvfont";
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  color: #666;
}
.vjs-user-active .vid-header-wrap{
  z-index: 10;
  opacity: 1;
  -webkit-transition: visibility 1s, opacity 1s;
  -moz-transition: visibility 1s, opacity 1s;
  -o-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s;
}
.vjs-has-started.vjs-user-inactive.vjs-playing .vid-header-wrap {
  visibility: visible;
  opacity: 0;
  -webkit-transition: visibility 1s, opacity 1s;
  -moz-transition: visibility 1s, opacity 1s;
  -o-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s;
}
<<<<<<< HEAD
.vid-complete-thumbs {
    position: absolute;
    bottom: 70px;
    left: 45%;
}
.vid-complete-thumb {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #777;
    margin: 5px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.vid-complete-thumb.selected {
    background: #fff;
}
=======
>>>>>>> 9374b7a8228a726c1bfc40fbeb26d86ad8b1820b
