.DS_Store
build/files/*
docs/api/*
dev.html
projects
.zenflow-log
test/*.map
.bunyipconfig.js
.s3config.json

node_modules
npm-debug.log

videojs-contrib-hls/*

*.swp
*.swo

*.orig

.idea
.idea/*
*results.xml
*.log

test/coverage/*
.coveralls.yml
.sass-cache

dist/*

.idea/
